@import "src/styles/mixins";

.card-one-wrapper {
	max-width: 400px;
	width: 100%;

	&:hover .card-content {
		transform: rotateY(180deg);
	}

	.card-content {
		position: relative;
		padding: 15rem 5rem;
		transform-style: preserve-3d;
		transition: transform 3s, box-shadow 2s;
		box-shadow: 0 70px 63px -60px #000000;
	}

	.card-front,
	.card-back {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		backface-visibility: hidden;
		transform-style: preserve-3d;
		background-blend-mode: overlay;
		gap: 20px;
		box-shadow: inset 0 0 26px -5px #000000;
		color: #fff;
		@include radius-card(5px);
	}

	.card-front {
		background: url("../../../img/c3po-portrait.jpg") center no-repeat;
		background-size: 400px;
		z-index: 2;

		&::before {
			content: "";
			position: absolute;
			inset: 4%;
			border: 3px solid yellow;
			transform: translateZ(2rem);
		}
	}

	.card-back {
		background: url("../../../img/r2d2.jpeg") center no-repeat;
		transform: rotateY(180deg);
		background-size: 400px;
		gap: 20px;
		z-index: 1;

		.movie-description {
			transform: translateZ(3rem);

			span {
				text-transform: uppercase;
				font-size: 15px;
			}

			font-size: 10px;
		}
	}

	.title {
		font-size: 60px;
		line-height: 120%;
		text-transform: uppercase;
		transform: translateZ(4.4rem);
	}

	.sub-title {
		font-size: 15px;
		font-weight: 500;
		letter-spacing: 3px;
		text-transform: uppercase;
		transform: translateZ(3rem);
	}
}